.footer__copyright{
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0;
color: #212121B2;
width:104px;
height:16px;
margin:60px auto 0;
padding-bottom:60px;
}