.modal{
    visibility: hidden;
background-color: #00000080;
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
display:flex;
align-items:center;
justify-content:center;
width:100%;
height:100%;


}
.modal_is-opened{
    visibility: visible;
     
}

.modal__container{
 display:flex;
 flex-direction: column;
border-radius:8px;
background-color:white;
padding: 120px 0;
position:relative;
max-width:730px;
width:calc(100% - 32px);
max-height:408px;
align-items: center;
margin:0 16px;
box-sizing:border-box;
}

.modal__form{
display:flex;
flex-direction:column;
gap:32px;
margin:0;
padding-bottom: 112px;;
}

.modal__save-button{
max-width: 156px;
width:100%;
max-height: 52px;
border-radius: 8px;
padding-top: 18px;
padding-right: 32px;
padding-bottom: 18px;
padding-left: 32px;
gap: 8px;
opacity: 1;
background-color: #212121;
color: #FCF5E5;




}

.modal__close-button{
width: 40px;
height: 40px;
opacity: 0.4;
background-color: white;
border:none;
position:absolute;
top:32px;
right:50px;

}
.modal__form{
     width: 630px;
height: 78px;
gap: 8px;
opacity: 1;
display:flex;
margin-top:0;




}

.modal__title{
position:absolute;
top:32px;
margin: 0  50px 0;
font-family: "Poppins",Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
display:flex;
align-self: flex-start;

}

.form__label{
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: Medium;
margin:0 ;
font-size: 16px;
line-height: 110.00000000000001%;
color: #212121B2;



}

.form__input{
    margin: 0 10px 32px ;
    width:100%;
    padding:16px 0;
    border-radius: 8px;
    border: 1px solid #21212166;
}



.form__input::placeholder{
    font-family: "Poppins",Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
padding-left:12px;



}
@media screen and (max-width:540px) {
    .modal__container{
        width:calc(100% - 32px);
        max-width:300px;
        padding:32px 16px 100px;
        margin:0 auto;
    }
    .modal__form {
        width:100%;

    }

    .modal__title{
        position: static;
        margin-bottom: 20px;
        font-size:20px;

    }
    .modal__close-button{
        right:16px;
        top:16px;

    }
    .modal__save-button{
        width:100%;
        max-width:none;
    }
}