.profile{
    display:flex;
    padding:34px 0 20px ;
    border-bottom: 1px rgba(33,33,33,0.4) solid;
    margin:0 auto;
}

.profile__info{
    max-width:420px;
    display:flex;
    flex-direction:column;
    row-gap:20px;
   
}
.profile__image{
    
    margin-right:20px;
    width: 190px;
    height: 190px;
    border-radius:8px;
}


.profile__title{
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: #212121;
margin:0 0 12px;
text-overflow: ellipsis;
  overflow: hidden;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;


}
.profile__subtitle{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0;
color: #212121B2;
margin:0;
text-overflow: ellipsis;
  overflow: hidden;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;



}

.profile__card{
    display:flex;
    column-gap:20px;
    width: 505px;
height: 190px;
gap: 20px;
opacity: 1;


    
}

.profile__edit{
display:flex;
max-width: 107px;
height: 16px;
gap: 8px;
opacity: 0.7;
margin-top:auto;
background-color:#FCF5E5;
border:none;
}  

.profile__edit:hover{
    color:lightgray;
}

.profile__button {
 background-color:black;
 color:#FCF5E5;
 font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0;
width: 149px;
height: 52px;
opacity: 1;
margin-top:auto;
margin-left:auto;
 border-radius: 8px;
}
.profile__button:hover{
    background-color: gray;
}
@media screen and (max-width:627px){
    .profile{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
        padding-top:20px;
    }
    .profile__image {
        margin:0 0 12px;
        width:80px;
        height: 80px;
    }
    .profile__edit{
        margin: 20px auto;
    }

    .profile__title{
        margin:0 0 6px;
        font-size:20px;
    }

    .profile__button{
        margin-left:auto;
        margin-right:auto;
        width:100%;
       
    }
    
    .profile__subtitle{
        margin:0 0 32px;
    }

    .profile__info{
        gap:0;
    }

}
